*.vcxproj
*.tlog
termProject/termProject/Debug/vc120.pdb
*.idb
termProject/termProject/Debug/termProject.log
*.log
*.filters
*.obj
*.sdf
*.suo
*.sln
*.opensdf
*.ilk
*.pdb
*.ilk
*.exe
termProject/Debug/termProject.exe
*.pdb